:root{
	--main-color-red:#E31E1E;
}

*{
	margin: 0;
	padding: 0;
}

body{
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family: "Sora", sans-serif;
}

.container{
	width: 85%;
	max-width: 1300px;
	margin: auto;
}