/*@keyframes animate_1{/*for before in home*/
	/*from{
		left: 0;
	}

	to{
		top: 0%;
		transform: translateY(0%);
		left: 0;
	}
}*/

/*@keyframes animate_2{/*for after in home*/
/*	from{
		right: 0;
	}

	to{
		bottom: 0%;
		transform: translateY(0%);
		right: 0;
	}
}*/